*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 200000;
    
}
body {
   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
    
    background-color: #f4f4f4; 
    color: #333333;           
}


header {
    background-color: #009914; 
    color: #ffffff;           
    padding: 20px;
    text-align: center;
}

main {
    max-width:800px;
    padding-right: 80px;
    margin-top: 80px;
   
}

.topic-section {
    background-color: #ffffff; 
    border: 1px solid #dddddd; 
    padding: 20px;  
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 10px;
}


.topic-section ul {
    margin-left: 20px;
}


#key-formula-highlight {
    background-color: #fffbe6; 
    border: 1px solid #ffc107; 
    
}

.formula {
    font-weight: bold;
    font-size: 1.1rem;
    color: #d9534f; 
    text-align: center;
    margin-top: 10px;
}
.row{
    display: flex; 
    gap: 50px;        
    margin-left: 50px;
    
}

.topic-section {
    flex: 1;          
}
h2{
    text-align: justify-all;
    padding: 0%;
    
}
.center{
    margin-left: 400px;
}
.row:hover{opacity: 50;}
